
table{
    width: 60%;
    margin: auto; 
    background-color: #3d454f;
    border: 25px solid #3d454f;
    border-radius: 10px;
}
th:nth-of-type(2){
    width: 200px;
}
input::placeholder{
    color: green;
}
