table{
    width: 60%;
    margin: auto; 
    background-color: #3d454f;
    border: 2px solid #3d454f;
    border-radius: 5px;
    clear:both;
}

th:nth-of-type(1), th:nth-of-type(2){
    width: 200px;
}
input::placeholder{
    color: black;
}
#search-container{
    width:60%;
    margin: auto;  
}

#btn-search{
 margin-bottom: 50px;
 float:right;   
 padding: 8px 10px;    
}

#search-box{
    float:left;
    width: 90%;
}
#addnew{
    margin-left: 40%;
    margin-top: 7%;
}
.errorMsg{
    margin-top: 10%;
}

